.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.welcome {
    background: url('../../../assets/images/homepage1.jpg');
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}