.container {
    color: white;
    filter: alpha(opacity=50);
    font-weight: bold;
    position: absolute;
    opacity: 0.6;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    height: 50%;
}

.welcome-title {
    padding: 20px;
    text-align: center;
}

.text-holder {
    border: none;
    height: 20%;
}

input {
    border-radius: 25px 0px 0px 25px;
    -moz-border-radius: 25px 0px 0px 25px;
    -webkit-border-radius: 25px 0px 0px 25px;
    border: none;
    width: 50%;
    height: 80%;
    padding-left: 15px;
}

.submit {
    border-radius: 0px 25px 25px 0px;
    -moz-border-radius: 0px 25px 25px 0px;
    -webkit-border-radius: 0px 25px 25px 0px;
    opacity: 0.9;
    height: 80%;
    width: 10%;
    background: #F29F2F;
    border: none;
}
