<div class="scroll">
  <div class="icon">
    <span><i class="fas fa-home" height="42" width="42"></i></span>
  </div>
</div>

<div class="title1">
  <h2>Top Rated Homes</h2>
</div>

<ul class="beds1">
  <span>
  <img src="../../../assets/images/bed1.jpg">
  <img src="../../../assets/images/bed2.jpg">
  <img src="../../../assets/images/bed3.jpg">
  <img src="../../../assets/images/bed4.jpg">
  <img src="../../../assets/images/bed5.jpg">
  </span>
</ul>

<div class="title2">
  <h2>Available Now</h2>
</div>

<ul class="beds2">

  <img src="../../../assets/images/bed1.jpg">
  <img src="../../../assets/images/bed2.jpg">
  <img src="../../../assets/images/bed3.jpg">
  <img src="../../../assets/images/bed4.jpg">
  <img src="../../../assets/images/bed5.jpg">

</ul>
